<div class="container mt-5">
  <div>
    <h1 class="text-center mb-4">VTV Metropolitana</h1>
    <div id="caja" class="caja" ></div>
  </div>
  <form onsubmit="return addMensage()" >
    <div class="mb-3">
      <label for="dominio" class="form-label">Dominio</label>
      <input
        type="text"
        class="form-control"
        id="dominio"
        placeholder="Ingrese dominio"
      />
    </div>
    <div class="mb-3">
      <label for="oblea" class="form-label">oblea</label>
      <input
        type="text"
        class="form-control"
        id="oblea"
        placeholder="Ingrese oblea"
      />
    </div>
    <button type="submit" class="btn btn-primary">enviar</button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script> 